﻿@model IEnumerable<SSS.Models.Ogrenci>

@{
    ViewBag.Title = "Harita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
        margin-top: 15px;
    } 
</style>
<div class="container">
    <div class="bg-faded p-4 my-4">
        <h2>Harita</h2>
        <div id="coords"></div>
        <input type="submit" id="submit" value="Goster" />
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
        <script>
            var apiurl = 'http://localhost:60757/api/Duraks';
            var Lat = new Array();
            var Lon = new Array();
            var point = new Array();
            var address = new Array();
            var waypts = new Array();
            //var marker = new Array();
            $(document).ready(function () {
                //Send an AJAX request
                $.getJSON(apiurl)
                    .done(function (data) {
                        // On success, 'data' contains a list of products.
                        
                        for (var i = 0; i < data.length; i++) {
                            Lat[i] = data[i].Latitude;
                            Lon[i] = data[i].Longitude;
                            if (data[i].Ilce != null) {
                                address[i] = data[i].Sokak + " " + data[i].Mahalle + " " + data[i].Ilce;
                            }
                            
                        }
                        // x.innerHTML = "Latitude:" + Lat[0] + "<br>Longitude:" + Lon[0];
                        initMap(Lat, Lon,i);
                       
                    });
                
            });
            
            function initMap(Lat, Lon, i) {
                    point[0] = new google.maps.LatLng(Lat[0], Lon[0]);
                    point[1] = new google.maps.LatLng(Lat[1], Lon[1]);
               
                    var directionsService = new google.maps.DirectionsService;
                    var directionsDisplay = new google.maps.DirectionsRenderer;
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 6,
                        center: point[0]
                    });
                    directionsDisplay.setMap(map);

                    document.getElementById('submit').addEventListener('click', function () {
                    calculateAndDisplayRoute(directionsService, directionsDisplay);
                    });
                }

                function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                    var waypts = [];
                    for (var i = 0; i < Lat.length; i++) {
                        address[i] = new google.maps.LatLng(Lat[i], Lon[i])
                    }
                   
                    for (var i = 2; i < Lat.length; i++) {
                            waypts.push({
                                location:address[i] ,
                                stopover: true
                            });
                    }
                    directionsService.route({
                        origin: point[0],
                        destination: point[1],
                        waypoints: waypts,
                        optimizeWaypoints: true,
                        travelMode: 'DRIVING'
                    }, function (response, status) {
                        if (status === 'OK') {
                            directionsDisplay.setDirections(response);
                        } else {
                            window.alert('Directions request failed due to ' + status);
                        }
                    });
                }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqwhTtvC2dwMFBv4FAk5fr33rVpJ44kVA&callback=initMap">
        </script>
        <div id="map"></div>
        <h3>Gelecekler Listesi</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Soyad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Okul.OkulAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Durak.Ilce)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soyad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Okul.OkulAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Durak.Ilce)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>