﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sakarya Servis Sistemi</title>
    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="/Content/css/business-casual.css" rel="stylesheet">
</head>
<body>

     <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block" >Sakarya Servis Sistemi
        </div>
    <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
        
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/Home/Index">
                            Ana Sayfa
                        </a>
                                <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/Home/OkulSecenekleri">Okul Secenekleri</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/Home/Personeller">Personeller</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="/Home/Aktiviteler">Aktiviteler</a>
                    </li>
                    <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/Home/Galeri">Galeri</a>
                    </li>
                    <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="/Home/Hakkimizda">Hakkimizda</a>
                    <span class="sr-only">(current)</span>
                    </li>
                </ul>
            </div>
        </div>
       @Html.Partial("_LoginPartial")
    </nav>
    @RenderBody()
  
    <!-- /.container -->
    <footer class="bg-faded text-center py-5">
        <div class="container">
            <p class="m-0">Copyright &copy; Your Website 2017</p>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
