﻿@model SSS.Models.Okul

<div class="form-group">
        @Html.LabelFor(m=>m.OkulTur_Id, "Okul Turu", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("OkulTur_Id",null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.OkulTur_Id, "", new { @class = "text-danger" })
        </div>
    </div>