﻿
@{
    ViewBag.Title = "Aktiviteler";
}

<div class="container">
    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            <strong>Sosyal Aktiviteler</strong>
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid mb-4 mb-lg-0" src="/Content/img/picnic.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <p>
                    Is birligi yaptigimiz firmalarin ögrenciler icin düzenledigi cesitli sosyal aktiviteler.
                </p>
            </div>
        </div>
    </div>
</div>
