﻿@{
    ViewBag.Title = "Galeri";
}

<div class="container">
    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            <strong>Galeri</strong>
        </h2>
        <hr class="divider">
        <img src="~/Content/img/mininbus_cartoon.jpg" />
        <img src="~/Content/img/mininbus_cartoon.jpg" />
        <img src="~/Content/img/mininbus_cartoon.jpg" />
        <img src="~/Content/img/mininbus_cartoon.jpg" />
    </div>
</div>
