﻿@{
    ViewBag.Title = "Hakkimizda";
}

<div class="container">
    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            <strong>Hakkimizda</strong>
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid mb-4 mb-lg-0" src="~/Content/img/Vision.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h3><strong>Vizyonumuz</strong></h3>
                <p>
                    Yüksek standartlı ve kaliteli bir hizmet anlayışıyla, servis taşımacılığı alanında Türkiye`nin bir numaralı sistemi olmak vizyonumuzun en temel ilkesidir.
                    Bu ilke doğrultusunda; güvenilir ve sorumluluk sahibi olmak, etkin bir iletişim sayesinde kaliteli hizmet anlayışını tüm firma personellerine benimsetmek ve eksiksiz
                    bilgi aktarımı ile herkesin faydalanmasını sağlamak için elimizden gelenin en iyisini yapmaktayız.
                </p>
                <h3><strong>Misyonumuz</strong></h3>
                <p>
                    Sürekli ve kaliteli bir hizmet sunabilmek için felsefemiz; hizmetin tüm unsurlarının özenle gerçekleştirilmesidir.
                    Misyonumuzun bize yüklediği bu sorumluluğu deneyimli firmalar, profesyonel ekipmanlar ve servis taşımacılığında müşteri
                    memnuniyetinin esas alınması gerektiğinin farkında olan bakış açımızla en iyi şekilde taşımaktayız.
                </p>
            </div>
        </div>
    </div>
</div>
