﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="bg-faded p-4 my-4">
        <!-- Image Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <img class="d-block img-fluid w-100" src="~/Content/img/minibus.png" alt="">
                    <div class="carousel-caption d-none d-md-block">
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Welcome Message -->
        <div class="text-center mt-4">
            <h3 class="my-2"><strong>@Resources.Home.iletisim</strong></h3>
            
            <div class="text-heading text-muted text-lg">
                <pre>@Resources.Home.telefon</pre>
                <pre>e-mail :SakaryaServisSistemi@gmail.com </pre>
            </div>
        </div>
    </div>
    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            @Resources.Home.amac
        </h2>
        <hr class="divider">
        <p>
            @Resources.Home.paragraf1
        </p>
    </div>
    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
           @Resources.Home.ulasim
        </h2>
        <hr class="divider">
        <p>
            @Resources.Home.paragraf2
        </p>
    </div>

</div>

