﻿
@{
    ViewBag.Title = "OkulSecenekleri";
}


<div class="container">
    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            Okul Secenekleri
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-lg-3 text-left">
                <p>
                    -ilkokul <br />
                    -ortaokul<br />
                    -lise<br />
                    -üniversite<br />
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    Sakarya'nin her yerinden her okul icin ayri araclarimiz vardir.<br />
                    Her okul türü icin farkli servislerimiz vardir. Ogrencilerin ayni yas grubuyla birlikte yolculuketmesini sagliyoruz.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="bg-faded p-4 my-4">
        <img src="~/Content/img/servis2.jpg" />
    </div>
</div>

