﻿
@{
    ViewBag.Title = "Personeller";
}

<div class="container">
    <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
            <strong>Personeller</strong>
        </h2>
        <hr class="divider">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card h-100">
                    <img class="card-img-top" src="/Content/img/sofor.jpg" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">
                            ilkokul
                            <small class="text-muted">Job Title</small>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card h-100">
                    <img class="card-img-top" src="/Content/img/sofor.jpg" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">
                            ortaokul
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100">
                    <img class="card-img-top" src="/Content/img/sofor.jpg" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">
                            lise
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card h-100">
                    <img class="card-img-top" src="/Content/img/sofor.jpg" alt="">
                    <div class="card-body text-center">
                        <h4 class="card-title m-0">
                            üniversite
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

