﻿@model SSS.Models.IndexViewModel
@{
    ViewBag.Title = "Verwalten";
}
<style>
    #menu{
        float:left;
       
    }
    ul.myMenu li{
        list-style:none;
        color:black;
    }
</style>
    <div class="container" style="overflow:hidden">
        <div class="bg-faded p-4 my-4"style="overflow:hidden">
            <div id="menu">
                <p>SAYFALAR</p>
                <ul class="myMenu">
                    <li>@Html.ActionLink("Durak Bilgisi", "DurakBilgisi", "Üye/Duraks/")</li>
                    <li>@Html.ActionLink("Harita", "GunServis", "Üye/")</li>
                </ul>
            </div>
            <div>
            <p class="text-success">@ViewBag.StatusMessage</p>
                <div style="float:right">
                    <h4>Hesap Bilgilerini Güncelle</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>Şifre:</dt>
                        <dd>
                            [
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Şifre değiştir", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Düzenle", "SetPassword")
                            }
                            ]
                        </dd>
                        <dt>Dış Kayıt:</dt>
                        <dd>
                            @Model.Logins.Count [
                            @Html.ActionLink("Yönet", "ManageLogins") ]
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
