﻿@model SSS.Models.Durak

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="bg-faded p-4 my-4">
        <h2>Durak Bilgisini Giriniz</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Durak</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Ilce, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Ilce, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Ilce, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mahalle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Mahalle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Mahalle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sokak, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Sokak, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Sokak, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
        <h2>Veya Yerinizin Koordinatlarini Kullanin.</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <div class="form-group">
                    @Html.LabelFor(model => model.Latitude, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", id="Lat"} })
                        @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Longitude, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control",id ="Lon"} })
                        @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" class="btn btn-default" />
                    </div>
                </div>
              </div>
        }
        <button class="btn btn-default" onclick="getLocation()">Koordinatlari Al</button>
        @*<h3 id="Coords"></h3>*@
        <script>
            var x = document.getElementById('Lat');
            var y = document.getElementById('Lon')
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                }
                else {
                    x.innerHTML = "Geolocation is not supported";
                }
            }
            function showPosition(position) {
                //console.log(position.coords.latitude);
                var X = position.coords.latitude;
                var Y = position.coords.longitude;
                //console.log('x'+X);
                //var geo = place.geometry.location;
                if (typeof (Storage) !== "undefined") {
                    // Store an item
                    localStorage.setItem('Latitude', X);
                    localStorage.setItem('Longitude', Y);


                } else {
                    console.log('localStorage Not Available');
                }
                //x.innerHTML = "Enlem:" + X + "<br>Boylam:" + Y;
                x.value = X;
                x.value = x.value.replace('.', ',');
                y.value = Y;
                y.value = y.value.replace('.', ',');
            }
        </script>
        <div>
            @Html.ActionLink("Back to List", "Index", "/GunServis/")

        </div>
    </div>
</div>