﻿@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
   
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<ul>
    @foreach(var Item in Model)
    {
        <li>@Item.Name-@Item.Users.Count</li>
    }
</ul>

@Html.ActionLink("Yeni Rol Ekle","RolEkle")