﻿@model SSS.Areas.Admin.Models.RolEkleModel
@{
   
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>RolEkle</h2>

@using (Html.BeginForm("RolEkle","RolYonetimi",FormMethod.Post))
{
    @Html.TextBoxFor(m=>m.RolAd)
    <input type="submit" value="Ekle" />
}

