﻿@model SSS.Areas.Admin.Models.KullaniciRolModel
@{
    
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rol-Kullanici Ekle</h2>
@using (Html.BeginForm("RolKullaniciEkle","RolYonetimi",FormMethod.Post))
{
    @Html.LabelFor(m=>m.KullaniciAdi,"Kullanici adi:");
    <br />
    @Html.TextBoxFor(m=>m.KullaniciAdi)
    <br />
    @Html.LabelFor(m => m.RolAdi,"Rol Adi:");
    <br />
    @Html.TextBoxFor(m=>m.RolAdi)
    <br />
    <br />
    <input type="submit" value="Kaydet" />
}
