﻿@model IEnumerable<SSS.Models.GunServis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
        margin-top:15px;
    }
</style>

<div class="container">
    <div class="bg-faded p-4 my-4">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Gunler.GunAd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Servis.Saat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gunler.Katilim)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gunler.GunAd)
                    </td>
                    <td>
                        @Html.DropDownListFor(modelItem => item.Servis_Id, (SelectList)ViewBag.Servis_Id, "--Select One--")
                    </td>
                    <td>
                        @Html.CheckBoxFor(modelItem => item.Gunler.Katilim)
                    </td>
                    
                </tr>
            }

        </table>
        <input type="submit" class="btn btn-default" onclick="initMap()" href="#" value="Kaydet" />
       
        <script>

            function initMap() {
               
                var pointA = new google.maps.LatLng(localStorage.Latitude, localStorage.Longitude);
                var pointB = new google.maps.LatLng(40.743347, 30.338875);
                    myOptions = {
                        zoom: 7,
                        center: pointA
                    };
                    map = new google.maps.Map(document.getElementById('map'), myOptions),
                    // Instantiate a directions service.
                    directionsService = new google.maps.DirectionsService,
                    directionsDisplay = new google.maps.DirectionsRenderer({
                        map: map
                    });
                    markerA = new google.maps.Marker({
                        position: pointA,
                        title: "point A",
                        label: "A",
                        map: map
                    });
                    markerB = new google.maps.Marker({
                        position: pointB,
                        title: "point B",
                        label: "B",
                        map: map
                    });
                calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);
    }
            function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
                directionsService.route({
                    origin: pointA,
                    destination: pointB,
                    travelMode: google.maps.TravelMode.DRIVING
                }, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                    } else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqwhTtvC2dwMFBv4FAk5fr33rVpJ44kVA&callback=initMap">
        </script>
        <div id="map"></div>

    </div>
</div>