﻿@model SSS.Models.Ogrenci

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="bg-faded p-4 my-4">
        <h2>Delete</h2>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Ogrenci</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Durak.Ilce)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Durak.Ilce)
                </dd>

                
                <dt>
                    @Html.DisplayNameFor(model => model.Okul.OkulAdi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Okul.OkulAdi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Soyad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Soyad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefon)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefon)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>