﻿@model SSS.Models.Ogrenci

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="bg-faded p-4 my-4">
        <h2>Details</h2>

        <div>
            <h4>Ogrenci</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Durak.Ilce)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Durak.Ilce)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Gunler.GunAd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Gunler.GunAd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Okul.OkulAdi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Okul.OkulAdi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Soyad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Soyad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefon)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefon)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>