﻿@model IEnumerable<SSS.Models.Ogrenci>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="bg-faded p-4 my-4">
        <h2>Ogrenci Listesi</h2>

        <p>
            @Html.ActionLink("Ogrenci Ekle", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Soyad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Okul.OkulAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Okul.OkulTur.Tur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Durak.Ilce)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Durak.Mahalle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Durak.Sokak)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Durak.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Durak.Longitude)
                </th>
               
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soyad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Okul.OkulAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Okul.OkulTur.Tur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Durak.Ilce)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Durak.Mahalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Durak.Sokak)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Durak.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Durak.Longitude)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>